html, body {
    width: 100%;
    height: 100%;
  }

  
.test {
  color: red;
}

.container-fluid {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.btn-icons {
  /* width: 30vw;
   height: 100vh;
   position: absolute;
   right: 0%;
   opacity: 0.1; */
   
 color: aliceblue;
 position: absolute;
 bottom: 5%;
 /* left: auto; */
 
}

#btn-patient {
  width: 64vw;
  height: 52vh;
  position: absolute;
  top: 5%;
  left: 1%;
  opacity: 0;
}

#btn-locker {
  width: 17vw;
  height: 24vh;
  position: absolute;
  top: 23%;
  right: 10%;
  opacity: 0;
}

#btn-typ {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#btn-light {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#btn-dark {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}


.fas:hover {
  font-size: 54px;
  color: beige;
}

.far:hover {
  font-size: 54px;
  color: beige;
}
