html, body {
    width: 100%;
    height: 100%;
  }

  .background {
      background-image: url("/assets/img/GATES_SCHWERER.jpg");
      height: 100%;
      background-position: center;
      background-repeat: none;
      background-size: cover;
  }

.test {
  color: red;
}

.container-fluid {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#btn-one {
  width: 63vw;
  height: 66vh;
  position: absolute;
  top: 7%;
  left: 10%;
  opacity: 0;
}

#btn-two {
  color: aliceblue;
  position: absolute;
  bottom: 5%;
  /* left: auto; */
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#btn-gates {
    width: 18vw;
    height: 44vh;
    position: absolute;
    top: 33%;
    right: 5%;
    opacity: 0;
}