html, body {
    width: 100%;
    height: 100%;
  }

  .background {
    background-image: url("/assets/img/LAB_01.jpg");
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
  
.test {
  color: red;
}

.container-fluid {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#btn-one {
  width: 35vw;
  height: 40vh;
  position: absolute;
  top: 35%;
  left: 30%;
  opacity: 0;
}

#btn-two {
  width: 29vw;
  height: 33vh;
  position: absolute;
  top: 1%;
  left: 10%;
  opacity: 0;
}

#btn-three {
  /* width: 20px;
  height: 20px; */
  color: aliceblue;
  position: absolute;
  bottom: 5%;
  /* left: auto; */
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  
}

#btn-chart {
  width: 50vw;
  height: 33vh;
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: 0;
}

#btn-mikro {
  width: 20vw;
  height: 48vh;
  position: absolute;
  top: 46%;
  left: 0%;
  opacity: 0;
}

#btn-deko {
  width: 20vw;
  height: 37vh;
  position: absolute;
  top: 55%;
  right: 0%;
  opacity: 0;
}